{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{url_for('messages.show', id=user.id, mid=message.id)}}?_method=PATCH">
  {{ form.csrf_token }}
  <p>
    {{ form.message(placeholder="Message") }}
    <span>
      {% if form.message.errors %}
        {% for error in form.message.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Edit message</button>
</form>
<form method="POST" action="{{url_for('messages.show', id=user.id, mid=message.id)}}?_method=DELETE">
  {{ form.csrf_token }}
  <input type="submit" value="Delete">
</form>

{% endblock %}